.sidebar{
  width: 220px;
  height: 100vh;
  position: fixed;
  background-color: #e2e2e2!important;
}
.sidebar .nav .nav-link{
  /* border: 1px solid red; */
  color:white;
  background-color: gray;
  border-top: 1px solid rgb(84, 84, 84);
  transition: 100ms all linear;

}
.sidebar .nav .nav-link:hover{
  /* border: 1px solid red; */
  color:rgb(12, 12, 12);
  background-color: rgb(249, 246, 246);
  margin-top: 1px;

}
.sidebar .nav .nav-link.active{
  /* border: 1px solid red; */
  color:rgb(12, 12, 12)!important;
  background-color: rgb(249, 246, 246)!important;
  margin-top: 1px;

}
.content-area{
  margin: 0px 5px 5px 250px;
}

@media screen and (max-width:720px){

  .sidebar{
    display: none;
  }
  .content-area{
    margin-left: 5px;
  }

  .togglebutton{
    display: block!important;
    z-index: 9999999999999999999999999;
    position: fixed;
    right: 5px;
  }

}
